In [5]:
import numpy as np
import pandas as pd
import scipy
import seaborn as sns
sns.set_style('whitegrid')
import matplotlib.pyplot as plt
import altair

%matplotlib inline
plt.rcParams["patch.force_edgecolor"] = True
%store -r cleaned

Installing plotly

In [8]:
import sys
!/opt/anaconda/bin/conda install --yes --prefix {sys.prefix} plotly

Solving environment: done

## Package Plan ##

  environment location: /home/toni/.conda/envs/digital_divide

  added / updated specs:
    - plotly


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    retrying-1.3.3             |           py36_2          15 KB
    plotly-3.1.0               |           py36_0        27.4 MB
    openssl-1.0.2o             |       h14c3975_1         3.4 MB
    ------------------------------------------------------------
                                           Total:        30.8 MB

The following NEW packages will be INSTALLED:

    plotly:          3.1.0-py36_0
    retrying:        1.3.3-py36_2

The following packages will be UPDATED:

    ca-certificates: 2017.08.26-h1d4fec5_0      --> 2018.03.07-0
    certifi:         2017.7.27.1-py36h8b7b77e_0 --> 2018.4.16-py36_0
    openssl:         1.0.2m-h8cfc7e7_0          --> 1.0.2o-h14c3975_1


Downloading and Extracting Packages
retrying-1.3.3       |   15 KB | ####################################### | 100%
plotly-3.1.0         | 27.4 MB | ####################################### | 100%
openssl-1.0.2o       |  3.4 MB | ####################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [6]:
cleaned = cleaned.copy()
cleaned.head()

                      country  date  Access Electricity  Cellular %  \
country     date
Afghanistan 2016  Afghanistan  2016                 NaN   66.003744
            2015  Afghanistan  2015                 NaN   61.577682
            2014  Afghanistan  2014           89.500000   58.845471
            2013  Afghanistan  2013           75.154373   55.012226
            2012  Afghanistan  2012           69.100000   51.434547

                  Fixed broadband %  GDP pcp PPP  Landline %  Secure Servers  \
country     date
Afghanistan 2016           2.688976  1876.544682    0.348892            49.0
            2015           2.207969  1861.124332    0.343677            46.0
            2014           0.479532  1875.447407    0.325861            32.0
            2013           0.490972  1877.411953    0.313466            30.0
            2012           0.502942  1873.153946    0.301822            33.0

                  Urbanisation  internet_users Code      Region cgroup
country     date
Afghanistan 2016        27.132       10.595726  AFG  South Asia      L
            2015        26.703        8.260000  AFG  South Asia      L
            2014        26.282        7.000000  AFG  South Asia      L
            2013        25.871        5.900000  AFG  South Asia      L
            2012        25.468        5.454545  AFG  South Asia      L

# First, getting the example from plotly, only with my data

In [9]:
import plotly.plotly as py
import pandas as pd

In [18]:
map_df = cleaned[cleaned['date'] == 2014][['country', 'Code', 'internet_users']]
map_df.head()

                                      country Code  internet_users
country             date
Afghanistan         2014          Afghanistan  AFG            7.00
Albania             2014              Albania  ALB           60.10
Algeria             2014              Algeria  DZA           29.50
Angola              2014               Angola  AGO           10.20
Antigua and Barbuda 2014  Antigua and Barbuda  ATG           67.78

In [11]:
data = [ dict(
        type = 'chloropleth', 
        locations = map_df['Code'], 
        z = map_df['internet_users'], 
        text = map_df['country'], 
        colorscale = [[0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
            [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"]],
        autocolorscale = False, 
        reversescale = True, 
        marker = dict(
            line = dict(
                color = 'rgb(180, 180, 180)', 
                width = 0.5
            )), 
        colorbar=dict(
            autotick = False, 
            tickprefix = '%',
            title= "Internet Users"), 
    )]
layout = dict(
    title = "2014 Internet Users in %, Source: World Bank"
    geo = dict(
    showframe=False, 
    showcoastlines = False,
    projection = dict(
        type= "Mercator"
    )
    )
)

                    COUNTRY  GDP (BILLIONS) CODE
0               Afghanistan           21.71  AFG
1                   Albania           13.40  ALB
2                   Algeria          227.80  DZA
3            American Samoa            0.75  ASM
4                   Andorra            4.80  AND
5                    Angola          131.40  AGO
6                  Anguilla            0.18  AIA
7       Antigua and Barbuda            1.24  ATG
8                 Argentina          536.20  ARG
9                   Armenia           10.88  ARM
10                    Aruba            2.52  ABW
11                Australia         1483.00  AUS
12                  Austria          436.10  AUT
13               Azerbaijan           77.91  AZE
14             Bahamas, The            8.65  BHM
15                  Bahrain           34.05  BHR
16               Bangladesh          186.60  BGD
17                 Barbados            4.28  BRB
18                  Belarus           75.25  BLR
19                  Belgium          527.80  BEL
20                   Belize            1.67  BLZ
21                    Benin            9.24  BEN
22                  Bermuda            5.20  BMU
23                   Bhutan            2.09  BTN
24                  Bolivia           34.08  BOL
25   Bosnia and Herzegovina           19.55  BIH
26                 Botswana           16.30  BWA
27                   Brazil         2244.00  BRA
28   British Virgin Islands            1.10  VGB
29                   Brunei           17.43  BRN
..                      ...             ...  ...
192                  Sweden          559.10  SWE
193             Switzerland          679.00  CHE
194                   Syria           64.70  SYR
195                  Taiwan          529.50  TWN
196              Tajikistan            9.16  TJK
197                Tanzania           36.62  TZA
198                Thailand          373.80  THA
199             Timor-Leste            4.51  TLS
200                    Togo            4.84  TGO
201                   Tonga            0.49  TON
202     Trinidad and Tobago           29.63  TTO
203                 Tunisia           49.12  TUN
204                  Turkey          813.30  TUR
205            Turkmenistan           43.50  TKM
206                  Tuvalu            0.04  TUV
207                  Uganda           26.09  UGA
208                 Ukraine          134.90  UKR
209    United Arab Emirates          416.40  ARE
210          United Kingdom         2848.00  GBR
211           United States        17420.00  USA
212                 Uruguay           55.60  URY
213              Uzbekistan           63.08  UZB
214                 Vanuatu            0.82  VUT
215               Venezuela          209.20  VEN
216                 Vietnam          187.80  VNM
217          Virgin Islands            5.08  VGB
218               West Bank            6.64  WBG
219                   Yemen           45.45  YEM
220                  Zambia           25.61  ZMB
221                Zimbabwe           13.74  ZWE

[222 rows x 3 columns]